
/* Reset de márgenes y relleno */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow: hidden; /* Evitar scroll */
}

/* Video de fondo que ocupa toda la pantalla */
#fondo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Para que el video se ajuste sin distorsionarse */
    z-index: -1; /* Envía el video al fondo */
}

/* Contenido del juego */
.content {
    z-index: 0; /* Trae el contenido al frente */
    text-align: center;
    transform: translateY(-50%);
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.6); /* Fondo semitransparente para resaltar el texto sobre el video */
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(255, 69, 0, 0.8); /* Brillo naranja alrededor */
    margin-top: 570px;}

body {
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100%;
    overflow: hidden; /* Evitar scroll */

}

h1 {font-size: 3em;
    color: #eb922d; /* Naranja brillante */
    text-shadow: 2px 2px 10px #000; /* Sombra negra para resaltar */
    letter-spacing: 3px;
    margin-bottom: 10px;
    animation: blink 2s infinite;

    font-family: "Nosifer", sans-serif;
    font-style: normal;

    }
  

p {font-size: 40px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 10px #b38978; /* Sombra naranja */
    color: #af1515;

    font-family: "New Rocker", system-ui;
    font-style: normal;
     
      }
      

button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    background-color: #c82333;
    color: white;
    border: none;
    border-radius: 5px;

    margin-bottom: 10px;
    text-shadow: 1px 1px 5px #000; /* Ligera sombra negra */

}

/* Animaciones y efectos al texto */
@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

button:hover {
    background-color: #e4782f;
}

.hidden {
    display: none;
}

#videoContainer {
   margin-top: 20px;
    /* width: 56.25vh;  
    height: 100vh;  
    background-color: black; 
    display: flex;
    justify-content: center;
    align-items: center;*/
}

#imageContainer {
    margin-top: 20px;
}

/*tamaño foto*/
img {
    width: 100%;
    height: auto;
}

/*tamaño vídeo*/
video {
    width: 100%;  /* Ajustar el video al ancho del contenedor */
    height: 100%; /* Ajustar el video a la altura del contenedor */
}

/*botón volver a inicio*/
#ubicacion {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
}

#ubicacion:hover {
    background-color: #c82333;
}

a{
    text-decoration: none;
}

@media (max-width: 768px) {
    .content {
        padding: 15px;
        max-width: 100%; /* Ajusta el ancho para móviles */
        margin-top: 580px; /* Ajusta la posición en móviles */
        transform: translateY(-40%); /* Para que se vea más centrado en móviles */
    }

    h1 { font-size: 29px; /* Reducir tamaño del h1 en pantallas pequeñas */
        letter-spacing: 0px;
    }

    p { font-size: 29px; /* Reducir tamaño del párrafo */
    }
    
    }



